@media (max-width: 500px) {
    .app-header {
        margin-block-end: -13px;
        border-bottom: none;
        .main-header{
            .logo,
            .header-user{
                display: none;
            }
            .search-container{
                margin: auto;
            }
        }
    }
    .main-layout{
        padding: 0 20px;
        .home-page{
            .filter-main{
                height: 90px;
                padding-block-start: 0;
                margin-block-end: 0.7rem;
                .carusel-filter-main{
                    display: none;
                    margin-right: -3.62rem;
                    box-shadow: 1px 1px 6px -2px rgb(160 160 160 / 55%);
                    position: absolute;
                    .swiper-button-next{display: none;}
                }
            }
            .stay-list{
                grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
                .stay-preview{
                    .swiper-button-next,
                    .swiper-button-prev{
                        display: none;
                    }
                }
            }
        }
        .stay-details{
            margin-block-start: 2rem;
            .deatils-header{
                display: none;
                flex-wrap: wrap;
            }
            .details-container{
                flex-direction: column;
                margin-block-start: 3rem;
                .left{
                    .host-details{
                        .main-details{
                            .main-details-text{
                                h2{font-size: 1.2rem;}
                            }
                        }
                    }
                }
                .right{
                    margin-inline-start: 0;
                    margin-block-start: 1rem;
                    .order-section .date-picker .rdrDateRangePickerWrapper{
                        right: 5%;
                    }
                    .rdrMonths{
                        flex-direction: column;
                    }
                }
            }
            .detalis-imgs-main{
                display: none;
            }
            .details-img-container{
                display: block;
                img{
                    height: 300px;
                    width: 100vw;
                }
            }
        }
    }
    .login-modal {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        top: 20%;
        left: 35%;
        width: 338px;
        height: 400px;
        background-color: white;
        z-index: 3;
        border: 5px solid black;
        border-radius: 15px;
        margin-left: -109px;
    }
    .trips{
        h1{
            margin-bottom: 0;
            margin: 30px 0;
        }
    }
    .bottom-nav{
        display: inline;
    }
    .footer{
        display: none;
    }
}