@media (max-width: 450px) {
    .app-header {
        margin-block-end: -13px;
        border-bottom: none;
        .main-header{
            .logo,
            .header-user{
                display: none;
            }
            .search-container{
                margin: auto;
            }
        }
    }
    .main-layout{
        .home-page{
            .filter-main{
                padding-block-start: 0;
                margin-block-end: 0.7rem;
            
                .filters-btn{display: none;}
                .carusel-filter-main{
                    display: flex;
                    min-width: 71rem;
                    margin-right: -3.62rem;
                    height: 3.688rem;
                    box-shadow: 1px 1px 6px -2px rgb(160 160 160 / 55%);
                    position: absolute;

                    ;
                    .swiper-button-next{display: none;}
                }
            }
            .stay-list{
                .stay-preview{
                    .swiper-button-next,
                    .swiper-button-prev{
                        display: none;
                    }
                }
            }
        }
    }
    .login-modal {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        top: 20%;
        left: 35%;
        width: 338px;
        height: 400px;
        background-color: white;
        z-index: 3;
        border: 5px solid black;
        border-radius: 15px;
        margin-left: -109px;
    }
    .bottom-nav{
        display: inline;
    }
    .footer{
        display: none;
    }
}