.air-cover{
    border-bottom: 1px solid $clr-light-grey;
    padding-block-start: $sectionPadding;
    padding-block-end: $sectionPadding;
}

.aircover-img{
    width: 100px;
    margin-block-end: 1rem;
}