.app-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid $clr-border;
  background-color: white;
  height: 80px;
  margin-block-end: 1rem;

  .main-header {
    display: flex;
    justify-content: space-between;
    padding-block-start: 1.3rem;

    .logo {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 0.2rem;

      :first-child {
        width: 105px;
      }

      :last-child {
        display: none;
      }
    }

    .search-container {
      border: 1px solid $clr-border;
      box-shadow: $boxShadow;
      border-radius: 30px;
      display: flex;
      height: min-content;
      justify-content: space-around;
      width: 350px;
      margin: -5px;

      cursor: pointer;

      >* {
        border: 0;
        background-color: transparent;
        height: 45px;
      }

      .left,
      .middle {
        div {
          border-right: 1px solid $clr-light-grey;
        }

      }

      .left {
        div {
          padding: 0 15px 0 15px;
        }
      }

      .middle {
        div {
          padding: 0 15px 0 5px
        }
      }

      .right {
        display: flex;
        align-items: center;
        color: $clr-grey;
        font-size: 0.9rem;

        div {
          padding: 0 15px 0 5px;
        }
      }
    }

    .header-user {
      display: flex;
      align-items: center;
      height: min-content;

      span {
        font-size: 0.9rem;
      }

      .nav-user {
        padding: 5px 1px 5px 12px;
        width: 80px;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $clr-light-grey;
        border-radius: 30px;

        .nav-icon {
          opacity: 0.9;
        }

        img {
          width: 28px;
          margin-inline-end: 0.3rem;
          border-radius: 50%;
        }
      }
    }
  }
}