.swiper-slide {
    display: flex;
    width: 50px;
    button {
        cursor: pointer;
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper-pagination-bullet {
    display: none;
}

.carusel-filter-main {
    max-width: 100%;
    display: flex;
    align-items: center;
    .swiper-button-next {
        border: 0.5px solid rgb(0 0 0 / 0.3);
        border-radius: 30px;
        width: 25px;
        height: 25px;
        font-size: 12px;
        color: black;
        margin-left: 20px;
    }

    .swiper-button-next:hover {
        box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
    }

    .swiper-button-next::after {
        font-size: 17px;
        color: black;


    }

    .swiper-button-next::before {
        font-size: 17px;
        color: black;
    }

    .swiper-button-prev {
        border: 0.4px solid rgb(212, 211, 211);
        border-radius: 30px;
        width: 35px;
        height: 35px;

    }

    .swiper-button-prev::after {
        font-size: 15px;
        color: black;
    }

    .swiper-button-prev:hover {
        box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
    }

    button {
        text-decoration: none;
        text-align: center;
        padding: 0;
        border: none;
        background: none;
        font-family: 'cereal-medium';
    }
}