.expended-search {
  background-color: white;
  padding-block-start: 1rem;
  padding-block-end: 0.2rem;
  .bar {
    margin: 0 auto 1rem auto;
    border: 1px solid $clr-border;
    width: 850px;
    background: white;
    height: 65px;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    background-color: $clr-border;
    animation: swipe-in 0.3s;
  }
  @keyframes swipe-in {
    0%{
      width: 350px;
      transform: translateY(-55px);
    }
    100%{
      width: 850px;
      transform: translateY(0);
    }
  }

  .bar section {
    border-radius: inherit;
    p{
      font-family: 'cereal-medium';
      letter-spacing: 0.5px;
    }
    transition: background 250ms ease;
  }

  .bar section:hover {
    background: $clr-border;
    &.active{
      background-color: white;
    }
  }

  .location {
    width: 40%;
    padding: 0.9rem 2rem;
    &.active{
      background-color: white;
    }
  }
  
  .check-in,
  .check-out {
    padding: 0.9rem;
    width: 15%;
    &.active{
      background-color: white;
    }
  }
  
  .guests {
    position: relative;
    width: 30%;
    padding: 0.9rem 2rem;
    &.active{
      background-color: white;
    }
    .search-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: #FF385C;
      color: white;
      font-size: 0.8rem;
      padding: 0.7rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  input[type="text"],
  input[type="date"],
  input[type="number"]{
    background: none;
    border: none;
    padding: 0.2rem 0 0 0;
  }

  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus {
    outline: none;
  }

  ::placeholder {
    font-size: 0.9rem;
  }

  .bar>div {
    position: relative;
  }


  .bar>div::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 55%;
    background: hsl(0 0% 90%);
  }

  .bar>div:nth-of-type(1)::before {
    background: transparent;
  }


  .bar>div:hover::before {
    background: transparent;
  }
}
.locations-modal{
  position: absolute;
  top: 200%;
  left: 22%;
  width: 494px;
  border-radius: 32px;
  background-color: white;
  border: 1px solid $clr-border;
  z-index: 999;
  .locations-modal-container{
      padding: 16px 8px 50px;
      margin: 0 auto 0 2rem;
      width: 90%;
      h3{margin-block-start: 1.5rem;font-size: 0.9rem;}
      .locations-modal-map{
        margin-block-start: 2rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        row-gap: 30px;
        div p{
          font-size: 0.9rem;
          margin-block-start: 0.2rem;
        }
        img{
          border: 1px solid $clr-light-grey;
          height: 125px;
          border-radius: 12px;
          cursor: pointer;
          &:hover{
            border-color: $clr-black;
            transition: border-color 0.5s;
          }
        }
      }
  }
}