.login-modal{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    top: 20%;
    left: 35%;
    width: 500px;
    height: 500px;
    background-color: white;
    z-index: 3;
    border-radius: 15px;
    .modal-close-btn{
        font-family: 'cereal-medium';
        position: absolute;
        border-radius: 100%;
        padding: 7px;
        border: 0;
        left: 15px;
        top: 15px;
        background: transparent;
        cursor: pointer;
    }
    form{
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: stretch;
        height: 50%;
        .form-item input{
            outline: 0;
            width: 100%;
            border-radius: 10px;
            height: 50px;
            padding-inline-start: 1rem;
            border: 1px solid #00000050;
        }
    }
}

.btn-container {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 0 0;
    margin: 0 0;
    cursor: pointer;
    border: none;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);

    @for $i from 0 to 10 {
        .cell:nth-child(10n + #{$i + 1}):hover~.content {
            --positionX: #{$i};
        }

        .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
            --positionY: #{$i};
        }
    }
}

.cell {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    --positionX: 0;
    --positionY: 5;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 8px;

    background-image: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
            rgb(241, 37, 75) 0%,
            rgb(230, 30, 77) 27.5%,
            rgb(227, 28, 95) 40%,
            rgb(215, 4, 102) 57.5%,
            rgb(189, 30, 89) 75%,
            rgb(189, 30, 89) 100%);
}

.action-btn {
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'cereal-medium';
}