.stay-amenities {
  padding-block-start: 48px;
  color: $clr-black;

  h1 {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .amenities-list {
    height: 225px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;

    &>* {
      margin-bottom: 20px;
    }
  }

  .amenities-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .show-all {
    font-size: 16px;
    padding: 13px 23px;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    font-family: "cereal-medium";
    border: 1px solid $clr-black;

    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }
}