.stay-preview {
    font-family: 'cereal-light';

    .swiper-button-next {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        width: 35px;
        height: 35px;
        color: black;
        background-color: rgba(255, 255, 255, 0.95);
        opacity: 85%;
    }
    .swiper-button-prev {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        width: 35px;
        height: 35px;
        color: black;
        background-color: rgba(255, 255, 255, 0.95);
        opacity: 85%;
    }
    .main-img {
        cursor: pointer;
        border-radius: 10px;
        aspect-ratio: 1/1;
    }
    .preview-like-btn {
        stroke: #fff !important;
        stroke-width: 1 !important;
        border: none;
        color: #ff385c;
        position: absolute;
        z-index: 1000;
        right: 5%;
        top: 5%;
        display: none;
    }

    .preview-unlike-btn {
        stroke: #fff !important;
        stroke-width: 1.5px !important;
        border: none;
        position: absolute;
        z-index: 1;
        right: 5%;
        top: 5%;
        display: block;
        fill: rgba(0, 0, 0, 0.5);
    }


    .preview-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-start: 0.8rem;

        h1 {
            font-size: 0.9rem;
            letter-spacing: 0.8px;
        }

        .preview-rating {
            display: flex;
            font-size: 0.9rem;
        }
    }

    .preview-subtitle {
        color: #717171;
        font-size: 0.9rem;
        letter-spacing: 0.3px;
    }

    .preview-price {
        margin-block-start: 0.5rem;

        p {
            font-size: 0.99rem;
        }

        span {
            font-family: 'cereal-bold';
        }
    }
}

.swiper {
    background: rgba(255, 255, 255, 0.264);
    border-radius: 15px;
}

.swiper-slide {
    color: rgb(7, 3, 3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.swiper-button-next::after {
    font-size: 12px;

}

.swiper-button-next::after:hover {
    font-size: 12px;

}

.swiper-button-prev::after {
    font-size: 12px;
}

.swiper-button-next:hover {
    font-size: 12px;
    display: flex;
    background-color: rgba(255, 255, 255);
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
    width: 36px;
    height: 36px;
    transition-duration: 0.1s;

}

.swiper-button-prev:hover {
    opacity: 100%;
    background-color: #ff385c;
    font-size: 12px;
    display: flex;
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
    background-color: rgba(255, 255, 255);
    width: 36px;
    height: 36px;
    transition-duration: 0.1s;
}


   
