.stay-amenities {
  padding-block-start: 48px;
  color: $clr-black;

  h1 {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .amenities-list {
    height: 225px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;

    &>* {
      margin-bottom: 20px;
    }
  }

  .amenities-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .show-all {
    font-size: 16px;
    padding: 13px 23px;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
    font-family: "cereal-medium";
    border: 1px solid $clr-black;

    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }

  .stay-amenities-modal {
    position: fixed;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column;
    height: 500px;
    width: 500px;
    top: 20%;
    left: 35%;
    background-color: #fefefe;
    z-index: 3;
    border: 1px solid $clr-light-grey;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    overflow: auto;

    .modal-close-btn-container {
      position: fixed;
      display: flex;
      align-items: center;
      width: 458px;
      height: 50px;
      background-color: #fefefe;
      z-index: 10;
    }

    .modal-close-btn {
      font-family: 'cereal-medium';
      border: 0;
      background: transparent;
      height: 25px;
      width: 25px;


      &:hover {
        cursor: pointer;
        background-color: $clr-light-grey;
        border-radius: 50%;
      }
    }

    .amenities-list-modal {
      position: fixed;
      display: flex;
      justify-items: center;
      align-items: flex-start;
      flex-direction: column;
      height: 500px;
      width: 500px;
      top: 20%;
      left: 35%;
      background-color: #fefefe;
      z-index: 3;
      border: 1px solid $clr-grey;
      border-radius: 15px;
      padding: 0 50px;
      overflow: auto;
      
      
      &>*:not(.modal-close-btn-container) {
        padding-bottom: 20px;
      }
    }
  }
}