.stay-preview {
    font-family: 'cereal-light';

    img {
        cursor: pointer;
        border-radius: 10px;
        aspect-ratio: 1/1;
    }

    .preview-like-btn{
        position: absolute;
        right: 5%;
        top: 5%;
        color: white !important;
    }

    .preview-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-start: 0.8rem;
        h1 {
            font-size: 0.9rem;
            letter-spacing: 0.8px;
        }
        .preview-rating {
            display: flex;
        }
    }

    .preview-subtitle {
        color: #717171;
        font-size: 0.9rem;
    }

    .preview-price {
        margin-block-start: 0.5rem;
        p{
            font-size: 0.99rem;
        }
        span {
            font-family: 'cereal-bold';
        }
    }
}

.swiper {
    background: rgb(255, 255, 255);
    border-radius: 15px;
}

.swiper-slide {
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next:hover {
    font-size: 25px;
    display: flex;
}

.swiper-button-prev:hover{
    font-size: 25px;
    display: flex;
}