.user-nav{
    position: fixed;
    top: 77px;
    right: 150px;
    box-shadow: $boxShadow;
    width: 240px;
    background-color: white;
    z-index: 3;
    border-radius: 15px;
 
    ul{
        list-style: none;
        :first-child{
            font-family: 'cereal-light';
        }
        li{
            padding: 15px;
            cursor: pointer;
            font-size: 0.9rem;
            &:hover{
                background-color: rgba(219, 219, 219, 0.279);
            }
          
        }
        hr{
            color: #00000050;
        }
        .host-nav-link{
            text-decoration: none;
            color: $clr-black;
        }
    }
}