.user-nav{
    position: absolute;
    top: 75px;
    right: 155px;
    width: 240px;
    background-color: white;
    z-index: 3;
    border-radius: 15px;
    ul{
        list-style: none;
        :first-child{
            font-family: 'cereal-medium';
        }
        li{
            padding: 15px;
            cursor: pointer;
            font-size: 0.9rem;
            &:hover{
                background-color: $clr-border;
            }
        }
        hr{
            color: #00000050;
        }
    }
}