.main-layout{
    margin: 0 auto;
    max-width: var(--layoutWidth);
    // padding: 0 80px 0 80px;
}
@media (max-width: 1127px) {
    .main-layout{
        padding: 0 40px 0 40px;
    }
}

// .main-layout {
//     display: grid;
//     grid-template-columns: $layoutPadding 1fr $layoutPadding ;

//     >* {
//         grid-column: 2;
//     }

//     >.full {
//         grid-column: 1 / -1;
//     }
// }

// @include for-normal-layout {
//     @include mainLayoutGTC($break-normal) // befor mainLayoutGTC
//     // grid-template-columns:
//     // minmax($layoutPadding ,1fr)
//     // minmax(auto,$break-normal)
//     // minmax($layoutPadding ,1fr)  ;
// }

// @include for-narrow-layout {
//     @include mainLayoutGTC($break-narrow)
// }

// @include for-wide-layout {
//     @include mainLayoutGTC($break-wide)
// }