* {
    font-family: 'cereal-light';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
    width: 100%;
    z-index: -1;
}
.overlay{
    display: none;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.bottom-nav{
    display: none;
}

.loader {
    margin: 15rem auto;
    border: 5px solid #f3f3f3;
    border-top: 5px solid $clr-pink;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}