.dashboard-cards-main {
  display: flex;
  margin-bottom: 2rem;
  gap: 4rem;
  justify-content: space-between;
}
.my-dashboard{
text-align: left;
}

.management-card{
    height: 180px;
    width: 380px;
    min-width: 355px;
    border: 1px solid $clr-light-grey;
    border-radius: 15px;
    box-shadow: 0px -1px 10px -5px rgb(0 0 0 / 52%);
    font-family: 'cereal-medium';

    .card-txt{
      display: flex;
      flex-direction: column;
      margin-inline-start: 20px;
      gap: 15px;
      margin-top: 20px;

      
    }
    h2{
      text-align: center;
      margin-top: -12px;
    }


    p {
      font-size: 1.3rem;
      color: rgb(83, 79, 79);
      display: flex;
      justify-content: space-between;
      padding: 5px;
      margin-inline-end: 21px;
      margin-top: 12px;
      margin-left: 10px;

    }
}

.income-card {
    height: 180px;
    width: 380px;
    min-width: 355px;
    border: 1px solid $clr-light-grey;
    border-radius: 15px;
    box-shadow: 0px -1px 10px -5px rgb(0 0 0 / 52%);
    font-family: 'cereal-medium';

    h2{
      text-align: center;
      margin-top: -12px;
    }

  .card-txt{
    display: flex;
    flex-direction: column;
    margin-inline-start: 20px;
    gap: 15px;
    margin-top: 20px;


  }

    p {
      font-size: 1.3rem;
      color: rgb(83, 79, 79);
      display: flex;
      justify-content: space-between;
      padding: 5px;
      margin-inline-end: 21px;
      margin-left: 10px;

    }
}

.host-select-btn{
margin-top: 10px;
margin-left: -30px;

}

.calculation{
display: flex;
text-align: right;
}

.two-cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin-right: 10px;

}
.charts-main{
  display: flex;
  align-items: center;
  gap: 181px;
  margin-left: -13px;

 
}


.dashboard-user-img {
  width: 50px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $clr-light-grey;
  border-radius: 30px;
}
.user-img-dashboard{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  }
  
  .selected-status{
    margin-right: -25px;
    color: $clr-black;
    background-color: transparent;
    border: 1px solid $clr-grey;
    border-radius: 10px;
    width: 85px;
    height: 40px;
    box-shadow: 0px -1px 10px -5px rgb(0 0 0 / 32%);
    &.approved{
      color: green;
      border-color: green;
    }
    &.reject{
      color: $clr-pink;
      border-color: $clr-pink;
    }
  }