@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

// @mixin mainLayoutGTC($max) {
//     grid-template-columns:
//         minmax($layoutPadding, 1fr) 
//         minmax(auto, $max) 
//         minmax($layoutPadding, 1fr);
// }