@font-face {
    font-family: 'cereal-light';
    src: url('../../fonts/airbnb-cereal/AirbnbCereal_W_Lt.otf');
}

@font-face {
    font-family: 'cereal-medium';
    src: url('../../fonts/airbnb-cereal/AirbnbCereal_W_Md.otf');
}

@font-face {
    font-family: 'cereal-bold';
    src: url('../../fonts/airbnb-cereal/AirbnbCereal_W_Bd.otf');
}

@font-face {
    font-family: 'cereal-xt-bold';
    src: url('../../fonts/airbnb-cereal/AirbnbCereal_W_Blk.otf');
}
@font-face {
    font-family: 'Mitr-light';
    src: url('../../fonts/airbnb-logo/Mitr-Light.ttf');
}
@font-face {
    font-family: 'Mitr-regular';
    src: url('../../fonts/airbnb-logo/Mitr-Regular.ttf');
}