// Colors
$clr-pink: #ff385c;
$clr-black: #222222;
$clr-white: #fff;
$clr-grey: #717171;
$clr-light-grey: #dfdfdf;
$clr-border: #00000015;


:root {
    --layoutWidth: 2400px;
}
$sectionPadding: 29px;
$boxShadow: rgba(0, 0, 0, 0.15) 0px 2px 6px,rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
