//SETUP
@import './setup/variables';
@import './setup/functions';
@import './setup/mixins';
@import './setup/typography';

// BASE 
@import './basics/helpers';
@import './basics/layout';
@import './basics/base.scss';

// VIEWS
@import './views/home-page.scss';
@import './views/stay-details.scss';
@import './views/trips.scss';
@import './views/host-dashboard.scss';


// CMPS
@import './cmps/app-header.scss';
@import './cmps/stay-list.scss';
@import './cmps/stay-preview.scss';
@import './cmps/details-imgs.scss';
@import './cmps/host-details.scss';
@import './cmps/order-section.scss';
@import './cmps/air-cover.scss';
@import './cmps/filter-main.scss';
@import './cmps/stay-amenities.scss';
@import './cmps/rating.scss';
@import './cmps/login-signup.scss';
@import './cmps/user-nav.scss';
@import './cmps/carusel.scss';
@import './cmps/footer.scss';
@import './cmps/stay-amenities-modal.scss';
@import './cmps/wishlist-modal.scss';
@import './cmps/reservation-confirmation.scss';
@import './cmps/reviews.scss';
@import './cmps/reviews-modal.scss';